
DEBUG = True

# Make these unique, and don't share it with anybody.
SECRET_KEY = "{{ django_secret_key }}"
NEVERCACHE_KEY = "{{ django_nevercache_key }}"

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "{{ database_name }}",
        "USER": "{{ database_user }}",
        "PASSWORD": "{{ database_password }}",
        "HOST": "{{ database_host }}",
        # Set to empty string for default. Not used with sqlite3.
        "PORT": {{ database_port }},
    }
}
